<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
    <%- include('partials/head')  %> 

</head>
<body>

    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque illum tenetur, culpa, eius sapiente quod eveniet enim laudantium quisquam fugiat asperiores eligendi facilis fuga porro atque labore impedit quam rem maxime repellendus totam placeat consequuntur adipisci blanditiis. Obcaecati quos tempora blanditiis earum natus, laboriosam exercitationem officia repudiandae praesentium et dolores velit sequi quo eligendi ducimus similique libero? Nostrum soluta autem obcaecati maxime at minus ab corrupti facilis magnam illum alias explicabo culpa corporis ducimus porro ipsum esse distinctio optio modi, accusamus molestias temporibus odit. Laboriosam nulla expedita dignissimos? Voluptas minima, iusto iure autem commodi quisquam, necessitatibus sit, ad deserunt ipsa dolore error quos ea eum? Ut consectetur ab suscipit commodi blanditiis architecto cum molestias officia dolores quidem sapiente distinctio ex reprehenderit expedita vel temporibus tempore, doloremque aliquam dolorum voluptatem aspernatur sed quia? Dignissimos id architecto hic quasi praesentium illo quisquam commodi vero? Maxime unde quaerat reiciendis? Aspernatur placeat quae tempora aliquid libero sed, necessitatibus quis quibusdam quaerat molestias cupiditate beatae impedit deserunt ex eaque fuga aperiam quam ipsam magnam quod dicta dolore? Porro sit quos veniam quidem tempore cupiditate odio. Magnam repellendus qui quod. Laudantium minima, dicta a, eveniet officia, molestiae qui at laborum ipsum quibusdam odit facilis esse? Totam.</p>
        </section>
    </main>

    <%- include('partials/footer')%>
</body>
</html>