<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first webside</title>
    <%- include('partials/head')%> 
</head>
<body>
    <%- include('partials/navigation')%>
    <!-- MAIN CONTENT -->

    <header class="container vh-100 d-flex p-5" >
        <aside class="d-flex flex-column">
            <img src="/img/avatar1.jpg" alt="Logo" class="w-25 rounded">
            <h1 class="fw-lighter">Danilo Castro</h1>
            <h3 class="text-uppercase fw-lighter">Desarrollador web</h1>
        </aside>

        <div class="d-flex flex-column">
            
        </div>
    </header>

    <%- include('partials/footer')%>
</body>
</html>
